body
{
    font-family: "verdana";
    background-color: rgb(54, 54, 54);
    background-image: url("../images/wallpaper.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

#headerSajo
{
    height: 107px;
    background-color: rgb(0, 0, 0);
    position: relative;
    margin-bottom: 90px;
}

#logoSajo
{
    float: left;
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    font-family:  'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    text-align: center;
    margin-top: 2px;
    height: 78%;
    position: absolute;
    left: 15px;
    top: 11px;
}

#logo-textSajo
{
    text-align: center;
    font-family: impact;
    position: absolute;
    font-size: 50px;
    line-height: 101px;
    left: 38%;
    top: 4px;
    color: white;
}

#main-navSajo ul 
{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#main-navSajo li 
{
    display: inline-block;
}

#main-navSajo li a 
{
    display: inline-block;
    width: 100px;
    height: 45px;
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 24px;
    text-decoration: none;
}

#main-navSajo li a:hover 
{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

#main-navSajo 
{
    float: right;
    position: absolute;
    right: 18px;
    top: 20px;
}

#robot-imgSajo
{
    height: 350px;
    width: 325px;
    float: right;
    margin: 0 auto;
    position: absolute;
    right: 6px;
    bottom: 0px;
}

.mainDivPvlt
{
    width: 65%;
    height: 470px;
    margin: 0 auto;
    position: relative;
    padding: 40px;
    background-color: #000000eb;
}

.mainDivPvlt h4
{
    font-weight: normal;
}

.homeHeaderPvlt
{
    margin: 0 auto;
}

.infoDivPvlt
{
    width: 22%;
    margin: 0 auto;
    float: left;
    display: inline-block;
    height: 100%;
    padding: 40px;
    padding-left: 0px;
}

#infoParaPvlt
{
    font-family: Arial;
    font-size: 19px;
}

.contentDivPvlt
{
    padding: 40px;
    width: 68%;
    float: right;
    display: block;
}

#contentTitlePvlt
{
    margin: 0 auto;
    padding-top: 90px;
    text-align: center;
    font-family: Verdana;
    font-size: 22px;
    padding-bottom: 20px;
}

.formTitlePvlt
{
    margin: 0 auto;
    padding: 0px;
    font-size: 18px;
    padding-bottom: 6px;
    font-family: Verdana;
    font-weight: bold;
}

.lineDivPvlt
{
    width: 1px;
    margin: 0 auto;
    display: inline-block;
    height: 94%;
    position: absolute;
    top: 3%;
}

.formBtnPvlt
{
    width: 138px;
    height: 125px;
    text-align: center;
    margin: 0 auto;
    font-size: 14px;
    font-family: Verdana;
    background-color: white;
    border: 1px solid #020202;
}

#formTxtPvlt
{
    font-family: Verdana;
    width: 100%;
    color: black;
    margin-bottom: 5px;
}

#closeBtnPvlt
{
    width: 31%;
    background-color: #ffffff;
    font-size: 13px;
    padding: 1px;
}

.formBtnPvlt:hover
{
    background-color:#ebebeb;
}

.actionImgPvlt
{
    width: 80%; 
    margin: 0 auto;
    margin-bottom: 25px;
}

#robotImgPvlt
{
    max-width: 316px;
    height: 361px;
}

.pageDescRelz
{
    font-family: Impact;
    font-size: 35px;
    text-align: center;
    margin-bottom: 10px;
}

.formIntPvlt
{
    text-align: center;
}

#robotMenuPvlt
{
    padding: 96px;
    width: 63%;
    margin: 0 auto;
    margin-top: 61px;
}